.container {
    text-align: center;
    width: 95%;
    height: 70%;
    border-radius: 20px;
    background: black;

}

.container:hover {
    box-shadow: 0 0 8px #594688c4;
}

.support {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background: #2ECC71;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

#contactForm {
    margin-top: 20px;
}

.hidden {
    display: none;
}

.supp-body {
    align-self: center;
    justify-self: center;
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container a {
    color: rgb(0, 47, 255);
}

.container a:hover {
    text-decoration: underline;
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

textarea {
    width: 60%;
    border-radius: 20px;
    padding: 20px;
    background: #ccb8ff;
}

.container label {
    font-size: 18px;
}

.container input {
    width: 12%;
    height: 43px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid #805fd6;
    color: #805fd6;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.container input:hover {
    color: #ececec;
    background: #805fd6;
    border: 0;
    transform: scale(1.02);
}