{% extends "layout.html" %}

{% block title %}
<title>EcoTrends - Latest Climate News</title>
{% endblock title %}

{% block mainheader %}
<div class="container">
  <div class="info-box">
    <h2>WELCOME TO <span class="emphasis">EcoTrends</span></h2>
    <p>For Your Climate News</p>
  </div>
  <button id="fetchNewsButton">LATEST CLIMATE NEWS</button>
  <button id="refreshButton">REFRESH</button>
  <div id="newsList"></div>
</div>
<script>
  const refreshButton = document.getElementById('refreshButton');
  const fetchNewsButton = document.getElementById('fetchNewsButton');
  const newsListContainer = document.getElementById('newsList');

  refreshButton.addEventListener('click', () => {
      location.reload(); 
  });

  fetchNewsButton.addEventListener('click', async () => {
      const url = 'https://climate-news-feed.p.rapidapi.com/page/1?limit=10'; // Change this URL to your Flask API endpoint
      try {
          const response = await fetch(url);
          const result = await response.json(); 
          displayNews(result.articles); 
      } catch (error) {
          console.error(error);
      }
  });

  function displayNews(data) {
      newsListContainer.innerHTML = ''; 
      if (Array.isArray(data)) {
          for (const news of data) {
              const newsDiv = document.createElement('div');
              newsDiv.className = 'news-item';
              
              const newsTitle = document.createElement('h2');
              newsTitle.textContent = news.title;
              
              const newsSource = document.createElement('p');
              newsSource.textContent = 'Source: ' + news.source;
              
              const newsDate = document.createElement('p');
              newsDate.textContent = 'Publish Date: ' + news.published;
              
              const newsLink = document.createElement('a');
              newsLink.href = news.url;
              newsLink.textContent = 'Read More';
              
              newsDiv.appendChild(newsTitle);
              newsDiv.appendChild(newsSource);
              newsDiv.appendChild(newsDate);
              newsDiv.appendChild(newsLink);
              
              newsListContainer.appendChild(newsDiv);
          }
      } else {
          newsListContainer.textContent = 'No news available.';
      }
  }
</script>
{% endblock mainheader %}
