<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/calendar.css') }}">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/profile.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/dashboard.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/convo.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/tasks.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/create_post.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/update.css') }}"
    />
    
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/support.css') }}"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    {% block title %}
    <title></title>
    {% endblock title %}
  </head>
  <body>
    <main>
      {% with messsages = get_flashed_messages(with_categories=true) %} 
      {% if messsages %}
      {% for category, message in messages %}
      <div class="{{ category }}">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}{%
      endwith %}
      <!-- NAVIGATION BAR -->
      <section class="navbar">
        <!-- logo top left -->
        <div class="logo">
          <a class="{% if active_page == 'dashboard' %}active{% endif %}" href="{{ url_for('dashboard') }}">
            <i class="fa-solid fa-leaf"></i>
            <h3>SUS-T</h3>
          </a>
        </div>
        <!-- navbar content -->
        <div class="nav-content">
          <!-- menu -->
          <div class="nav-sect">
            <!-- titles -->
          <hr>
            <!-- options to click -->
            <div class="nav-select">
              <div class="select">
                <a class="{% if active_page == 'dashboard' %}active{% endif %}" href="{{ url_for('dashboard') }}">
                  <i class="fa-solid fa-chart-bar"></i>
                  <h3>Dashboard</h3>
                </a>
              </div>
              <div class="select">
                <a class="{% if active_page == 'tasks' %}active{% endif %}" href="{{ url_for('tasks') }}">
                  <i class="fa-solid fa-list-check"></i>
                  <h3>Tasks</h3>
                </a>
              </div>
              <div class="select">
                <a class="{% if active_page == 'create_post' %}active{% endif %}" href="{{ url_for('new_post') }}">
                  <i class="fa-solid fa-comment-alt"></i>
                  <h3>Post</h3>
                </a>
                <div class="select">
                  <a class="{% if active_page == 'convo' %}active{% endif %}" href="{{ url_for('convo') }}">
                    <i class="fa-solid fa-comments"></i>
                    <h3>Convos</h3>
                  </a>
              </div>
              <div class="select">
                <a class="{% if active_page == 'ecotips' %}active{% endif %}" href="{{ url_for('eco_tips') }}">
                  <i class="fa-solid fa-lightbulb"></i>
                  <h3>Eco-tips</h3>
                </a>
              </div>
              
            </div>
          </div>
          <!-- preferences -->
          <div class="nav-sect">
            <!-- titles -->
            <div class="title">
              <h2>Settings</h2>
            </div>
            <!-- options to click -->
            <div class="nav-select">
              <div class="select">
                <a class="{% if active_page == 'profile' %}active{% endif %}" href="{{ url_for('profile') }}">
                  <i class="fa-solid fa-user"></i>
                  <h3>My Profile</h3>
                </a>
              </div>
              <div class="select">
                <a href="{{ url_for('logout') }}">
                  <i class="fa-solid fa-right-from-bracket"></i>
                  <h3>Logout</h3>
                </a>
              </div>
            </div>
          </div>
          <!-- support -->
          <div class="nav-sect">
            <!-- titles -->
            <div class="title">
              <h2>Support</h2>
            </div>
            <!-- options to click -->
            <div class="nav-select">
              <div class="select">
                <a 
               class="{% if active_page == 'support' %}active{% endif %}" href="{{ url_for('support') }}">
                  <i class="fa-solid fa-circle-question"></i>
                  <h3>Feedback & Recommend</h3>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% block mainheader %} {% endblock mainheader %}
    </main>
  </body>
</html>
