{% extends "layout.html" %} {% block title %}
<title>Profile</title>
{% endblock title %} {% block mainheader %}
<!-- CONTENT -->
<section class="content">
  <!-- PROFILE HEADER -->
  <div class="profile-header">
    <div class="profile-title">
      <h2>My Profile</h2>
    </div>
    <div class="profile-pic">
      <i class="fa-solid fa-bell"></i>
      <img src="{{ image_file }}" alt="profile picture" />
      <!-- Dropdown menu -->
      <h4>Hello {{ current_user.username }}</h4>
    </div>
  </div>
  <!-- PROFILE MAIN -->
  <div class="profile-main">
    <!-- user left -->
    <div class="user-left">
      <div class="user-image">
        <img src="{{ image_file }}" alt="profile picture" />
      </div>
      <!-- USERNAME -->
      <div class="username-email">
        <h3>Username: {{ current_user.username }}</h3>
        <h3>Email: {{ current_user.email }}</h3>
      </div>
    </div>
    <!-- user right -->
    <div class="user-right">
      <div class="information">
        <form method="POST" action="" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <fieldset>
            <legend class="dunnie">Account Information</legend>
            <div class="space">{{ form.username(class="change") }}</div>
            <div class="space">{{ form.email(class="change") }}</div>
            <div class="upload-pic">
              {{ form.picture.label }} {{ form.picture(class="picture") }}
              {% if form.picture.errors %}
                {% for error in form.picture.errors %}
                  <span class="danger"> {{ error }} </span><br>
                {% endfor %}
              {% endif %}
            </div>
          </fieldset>
          <div class="update-button">{{ form.submit(class="submit") }}</div>
        </form>
      </div>
    </div>
  </div>
  <!-- Flash Messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div id="flash-messages">
                {% for message in messages %}
                    <div class="flash-message success">{{ message }}</div>
                {% endfor %}
            </div>
            <script>
                // JavaScript to fade out the flash messages after 3 seconds
                document.addEventListener("DOMContentLoaded", function() {
                    var flashMessages = document.querySelectorAll('.flash-message');
                    flashMessages.forEach(function(message) {
                        setTimeout(function() {
                            message.classList.add('fade-out');
                        }, 3000);
                    });
                });
            </script>
        {% endif %}
    {% endwith %}
</section>
{% endblock mainheader %}
