{% extends "layout.html" %}
{% block title %}
<title>Update Task</title>
{% endblock %}
<!-- UPDATE TASK -->
{% block mainheader %} 
<div class="updateTask">
      <form method="POST" action="" class="update-form">
        {{ form.hidden_tag() }}
        <fieldset>
          <legend>UPDATE TASK</legend>
          <div class="bigger">{{form.title(class="new-1") }}</div>
          <div class="bigger">
            {{ form.priority(class="new-2", id="prior") }}
          </div>
          <div class="bigger-2">
            {{ form.content(class="new") }} {{ form.date_due(class="new-3") }}
            {% if form.date_due.errors %} {% for error in form.date_due.errors
            %} <span class="danger"> {{ error }} </span><br />
            {% endfor %} {% endif %}
          </div>
        </fieldset>
        <div class="add-button">{{ form.submit(class="add") }}</div>
      </form>
    </div>
{% endblock mainheader %}
